@media (max-width: 600px){
    .logo{
        width: 50vw;
    }
    .des{
        font-size: 7vw;
        line-height: 1;
    }
    .section{
        height: auto;
        padding-bottom: 5px;
    }
    .artWork{
        max-width: 80vw;
    }
    .bt{
        font-size: 7vw;
    }
    .infoNav{
        font-size: 80%;
        margin:5% 5%;
    }
    .nav{
        height: auto;
        padding-bottom: 55px;
    }
}

