body{
    background-color: black;
}

header{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 80px 5px 10px;
}

.des{
    background-color: rgba(250, 235, 215, 0);
    text-align: center;
    line-height: 0.5;
}

.logo{
    width: 100px;
    
}

section{
    background-color: rgb(174, 69, 69);
    min-width: 100%;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    

}

.artWork{
    height:20vw;
    padding-left: 3%;
}