body{
    background-color: black;
    padding-left: 3%;
    padding-right: 3%;
}

header{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 80px 5px 10px 10px;
}

.des{
    background-color: rgba(250, 235, 215, 0);
    text-align: center;
    line-height: 0.5;
}

.logo{
    width: 100px;
    
}



section{
    background-color: rgb(255, 255, 255);
    width: 30;
    display:flex;
    flex-wrap: wrap;
    height:264vw;
    max-height:fit-content;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;

}


.artWork{
    max-width: 40vw;
    display: block; 
}

.nav{
    position: relative;
    background-color: rgb(70, 66, 191);
    width: 100%;
    height: 50vh;
    margin-top: 20px;
}


